<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netrip"
        tools:targetApi="31">

        <!-- Main entry point of the app -->
        <activity android:name=".HomeActivity" android:exported="true" />

        <!-- Add Budget Activity -->
        <activity android:name=".AddBudgetActivity" />

        <!-- Add Diary Activity -->
        <activity android:name=".AddDiaryActivity" />

        <!-- Add Expense Activity -->
        <activity android:name=".AddExpenseActivity" />

        <!-- Add Reservation Activity -->
        <activity android:name=".AddReservationActivity" />

        <!-- Add Currency Converter Activity -->
        <activity android:name=".CurrencyConverterActivity" android:launchMode="singleTop" />

        <!-- Add Profile Activity -->
        <activity android:name=".ProfileActivity" />

        <!-- Add Travel Diary Activity -->
        <activity android:name=".TravelDiaryActivity" />

        <!-- Add Travel Planner Activity -->
        <activity android:name=".TravelPlannerActivity" />

        <!-- Add Budget Activity -->
        <activity android:name=".BudgetActivity" />

        <!-- Add Emergency Info Activity -->
        <activity android:name=".EmergencyInfoActivity" />

        <!-- Add Reservation Details Activity -->
        <activity android:name=".ReservationDetailsActivity" />

        <!-- Add Reservations Activity -->
        <activity android:name=".ReservationsActivity" />

        <!-- Add Event Activity -->
        <activity android:name=".AddEventActivity" />

        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="true" />

        <!-- Add Edit Reservation Activity -->
        <activity android:name=".EditReservationActivity" />

    </application>

</manifest>